body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 10px black;
}

#cubeLink {
    height: 305px;
    margin: 20px 23px;
    background-color: hsl(178, 100%, 50%);
    border-radius: 12px;
}

#eye {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: -40%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  
  #cubeLink:hover #eye {
    opacity: 1;
  }
  




#cube {
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}

#cube:hover {
    opacity: 30%;
    
}


#header {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: auto 25px;
    text-decoration: none;
}

#header:hover {
    color:hsl(178, 100%, 50%);
}

#description {
    color: hsl(215, 52%, 70%);
    margin: 15px 25px;
    font-size: 18px;
}

#ethAndDays {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

#ethPlusIcon {
    margin-left: -5px;
}


#ethPlusIcon > svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

#clockPlusDays {
    margin-left: -30px;
}

#clockPlusDays > svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#days {
    display: inline-block;
    vertical-align: middle;
    color: rgb(139, 172, 218);
}

#line {
    border-bottom: 1px solid hsla(215, 52%, 70%, 0.705);
    width: 300px;
    margin: auto;
}

#jules {
    margin: auto 25px;
    margin-top: -5px;
}

#avatar {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 10px;
}

#avatarName {
    display: inline-block;
    vertical-align: middle;
    color: hsl(215, 52%, 70%);
}

#mainName {
    color: white;
    margin-left: 1px;
    text-decoration: none;
}

#mainName:hover {
    color: hsl(178, 100%, 50%);
}

